<div id="<%= dom_id sale %>">
  <p>
    <strong>From user:</strong>
    <%= sale.from_user_id %>
  </p>

  <p>
    <strong>To user:</strong>
    <%= sale.to_user_id %>
  </p>

  <p>
    <strong>Pokemon:</strong>
    <%= sale.pokemon_id %>
  </p>

</div>
