<h1>Home</h1>
<h2>Pokecoin</h2>

<p>Find me in app/views/home/index.html.erb</p>

<%= button_to "logout" class="btn btn-primary btn-lg">Logout</button> destroy_user_session_path, method: :delete%>
<button type="log in" class="btn btn-secondary btn-lg">Log in</button>